alembic==1.8.0
asgiref==3.5.2
astroid==2.11.7
attrs==21.4.0
Babel==2.10.3
bcrypt==3.1.7
beautifulsoup4==4.11.1
black==22.3.0
blinker==1.4
CacheControl==0.12.11
cachy==0.3.0
certifi==2022.6.15
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.0.12
cleo==0.8.1
click==8.1.3
clikit==0.6.2
crashtest==0.3.1
cryptography==3.0
cycler==0.11.0
dill==0.3.5.1
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.6
django-common==0.1.51
django-filter==22.1
djangorestframework==3.13.1
dnspython==2.2.1
drf-access-policy==1.1.1
drf-spectacular==0.22.1
drf-writable-nested==0.6.4
easygui==0.98.3
email-validator==1.2.1
filelock==3.7.1
Flask==1.0.2
Flask-BabelEx==0.9.4
Flask-Compress==1.4.0
Flask-Gravatar==0.5.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.4.0
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Security-Too==3.4.5
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
fonttools==4.34.4
gunicorn==20.1.0
html5lib==1.1
identify==2.5.3
idna==3.3
inflection==0.5.1
isort==5.10.1
itsdangerous==2.1.2
jeepney==0.8.0
Jinja2==3.1.2
jsonschema==4.5.1
keyring==23.6.0
kiwisolver==1.4.3
lazy-object-proxy==1.7.1
ldap3==2.9.1
lockfile==0.12.2
Mako==1.2.1
MarkupSafe==2.1.1
matplotlib==3.5.2
mccabe==0.7.0
msgpack==1.0.4
mypy-extensions==0.4.3
nodeenv==1.7.0
numpy==1.23.1
packaging==20.9
paramiko==2.11.0
passlib==1.7.2
pastel==0.2.1
pathspec==0.9.0
pexpect==4.8.0
pgadmin4 @ https://ftp.postgresql.org/pub/pgadmin/pgadmin4/v4.30/pip/pgadmin4-4.30-py3-none-any.whl
Pillow==9.2.0
pkginfo==1.8.3
platformdirs==2.5.2
poetry==1.1.13
poetry-core==1.0.8
pre-commit==2.20.0
psutil==5.9.1
psycopg2==2.9.3
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pyasn1==0.4.8
pycparser==2.21
pylev==1.4.0
pylint==2.14.5
pylint-django==2.5.3
pylint-plugin-utils==0.7
PyNaCl==1.5.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2020.5
PyYAML==6.0
requests==2.28.0
requests-toolbelt==0.9.1
rollbar==0.16.3
SecretStorage==3.3.2
shellingham==1.4.0
simplejson==3.16.0
six==1.16.0
soupsieve==2.3.2.post1
speaklater==1.3
SQLAlchemy==1.4.39
sqlparse==0.4.2
sshtunnel==0.4.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.1
uritemplate==4.1.1
urllib3==1.26.9
virtualenv==20.15.1
webencodings==0.5.1
Werkzeug==2.1.2
whitenoise==6.2.0
wrapt==1.14.1
WTForms==2.2.1
