
<!DOCTYPE html>
<html>
<head>
    <title>AutoComplete</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto text-center mt-5">
                <h2>Escolha o livro</h2>
                <form action="/escolher/submit" enctype="multipart/form-data" method="POST">
    {%csrf_token%}
                <input type="text" id="tags" name="nome_livro" list="titles" class="form-control">
    <datalist id="titles">
        {% for title in titles %}
        <option value="{{title.titulo}}"></option>
        {% endfor %}
    </datalist>
            <button class="submit" type="submit">Enviar</button>
        </form>
            </div>
        </div>
    </div>

</body>
</html>